@import "mixins";
#about{
    .container{
        @include container;
        margin-top: 1rem;
        display:flex;
        justify-content: space-between;
        align-items:center;
        height:60vh;

        .info{
            width: 56%;
            h2{
                color: #f52e55;
                margin: 1rem auto;

            }
            p{
                margin-bottom: 1rem;
            }

            .actions{
               button{
                   margin: .5rem;
                   padding: .3rem .6rem;
                   border-radius: .4rem;
                   border:solid 2px #515ada;
                   background-color:white;
                   color:#515ada;
                   
               }
            }

        }
        .image{
            width: 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            figure{
                width: 70%;
                img{
                    width: 100%;
                    max-width: 100%;
                    border-radius: 50%;
                }
            }

        }

    }
    
}

@media only screen and (max-width: 500px){
    #about{
        .container{
            margin-top: 2rem;
            display:flex;
            flex-direction: column;
    
            .info{
                width: 90%;
                h2{
                    font-size:1.2rem;
    
                }
                p{
                    font-size:1rem;
                }
    
                .actions{
                   
                   button{
                       margin: .2rem;
                       color:#515ada;
                       font-size:.7rem;
                       
                   }
                }
    
            }
           
    
        }
        
    }
}